<div class="container">
  <div *ngFor="let headerItem of headerItems">
    <!--
    <a href="{{ headerItem.path }}" (click)="onClick(headerItem.id)">
    !-->
    <a (click)="onClick(headerItem.id)">
      <div *ngIf="headerItem.selected; then selected; else notSelected"></div>
        <ng-template #selected>
          <span class="selected">
            {{ headerItem.name }}
          </span>
        </ng-template>
      <ng-template #notSelected>
        <span>
          {{ headerItem.name }}
        </span>
      </ng-template>
    </a>
  </div>
</div>