@import "../../styles.scss";

$itemBackground: #801515;
$itemSelected:#666666;

.container {
    border-radius:5px;
    overflow:hidden;
    height:5vh;
    width:100vw;
    display:grid;
    grid-template-columns: auto auto auto auto
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
}
span {
    background-color:$itemBackground;
    font-size:1.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

.selected {
    background-color:$itemSelected;
}