@import '../App.scss';

.title {
    grid-area:title;
}
.length {
    grid-area:length;
}
.devices {
    grid-area:devices;
}
.status {
    grid-area:status;
}
.platform {
    grid-area:platform;
}

.Script div {
    padding:10px 0;
    border-style:dashed;
}

.Script {
    background-color: #fff;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    'title title title title length'
    'devices devices devices devices length'
    'devices devices devices devices status'
    'devices devices devices devices status'
    'platform platform platform platform status';
    padding:10px;
    border-top-style:solid;
    border-color:rgba(0, 0, 0, 0.4);;
    border-width: 1.5px;
}