@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
$title: 'Roboto', sans-serif;
$p: 'Roboto Condensed', sans-serif;

/* RGB */
$color1: rgba(138, 176, 171, 1);
$color2: rgba(62, 80, 91, 1);
$color3: rgba(38, 65, 60, 1);
$color4: rgba(26, 29, 26, 1);
$color5: rgba(3, 18, 14, 1);

.App body {
    background-color:$color1;
}

.App h1 {
  font-family: $title;
}
.App p {
  font-family: $p;
}

.ScriptList {
  width:60%;
  height:100vh;
  padding: 9px;
}

.ScriptList ul {
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
}