@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
/* RGB */
.App body {
  background-color: #8ab0ab; }

.App h1 {
  font-family: "Roboto", sans-serif; }

.App p {
  font-family: "Roboto Condensed", sans-serif; }

.ScriptList {
  width: 60%;
  height: 100vh;
  padding: 9px; }

.ScriptList ul {
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }
